body {
    font-family: "Krub", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .sombra {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .sombra2 {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos del header */
  
  header {
    background-color: #333;
    padding: 20px;
  }
  
  .titulo {
    color: #fff;
    text-align: center;
    margin: 0;
  }
  
  /* Estilos de la barra de navegación */
  
  .nav-bg {
    background-color: #222;
    padding: 10px 0;
  }
  
  .navegacion-principal {
    display: flex;
    justify-content: center;
  }
  
  .navegacion-principal a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navegacion-principal a:hover {
    color: #aaa;
  }
  
  /* Estilos del contenido hero */
  
  .hero {
    background-image: url("/img/hero-background.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contenido-hero {
    text-align: center;
    color: #fff;
    display: ;
  }
  
  .contenido-hero p {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Estilos del formulario */
  
  .formulario {
    margin-top: 20px;
  }
  
  .contenedor-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .unacolumna {
    grid-column: 1 / span 2;
  }
  
  .boton {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton:hover {
    background-color: #555;
  }
  
  /* Estilos de los proyectos */
  
  .proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .proyectos div {
    text-align: center;
  }
  
  .proyectos h2 {
    margin-bottom: 10px;
  }
  
  .proyectos img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  /* Estilos de la sección de experiencia */
  
  #experiencia {
    margin-top: 40px;
  }

  img{

    width: 60%;
    height: 90%;

  }
  
  #experiencia h1 {
    text-align: center;
  }
  
  #experiencia h2 {
    margin-top: 20px;
  }
  
  /* Estilos del botón de enviar */
  
  .boton {
    display: block;
    margin-top: 20px;
    width: 100%;
  }

  .doscolumnas{

display: grid;
grid-template-columns: auto auto;
align-items: center;
align-content: center;
padding-left: 5rem;

  }
  .doscolumnas p{

    color: #222;

  }